In [102]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

driver = webdriver.Chrome('~/Desktop/chromedriver')

/var/folders/xj/trsvhp2n4rgbqr0t6j87wgy40000gn/T/ipykernel_3698/3482603395.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('~/Desktop/chromedriver')

In [103]:
url = 'https://www.kave.or.kr/new_statistics/quant_list.php'
driver.get(url)

In [71]:
from selenium.webdriver.support.select import Select

select_year = Select(driver.find_element(By.NAME, 'EvalYear'))
select_year.select_by_index(1)

In [88]:
# 대학교 갯수 133 개
select_univ = Select(driver.find_element(By.NAME, 'EvalUniv'))
select_univ.select_by_index(1)

In [89]:
# 전체 색택
driver.find_element(By.CLASS_NAME, 'multiselect-dropdown-arrow').click()
driver.find_element(By.CLASS_NAME, 'multiselect-checkbox').click()

In [90]:
select_search = driver.find_element(By.CLASS_NAME, 'btn_search')
select_search.text
select_search.click()

## 내용 추출

In [104]:
def crolling(df) :
    univ = driver.find_element(By.ID, 'm_title3').text[1:-1]

    tbody = driver.find_element(By.ID, 'listView3')
    tr = tbody.find_elements(By.TAG_NAME, 'tr')
    
    val = []
    for i in tr :
        td = i.find_elements(By.TAG_NAME, 'td')
        temp = []
        temp.append(univ)
        for j in td :
            temp.append(j.text)

        val.append(temp)
    df1 = pd.DataFrame(val)
    
    df = pd.concat([df, df1])
    
    return df

In [106]:
df = pd.DataFrame()
# df = crolling(df)
for _ in range(133) :
    if _ == 0 :
        select_year = Select(driver.find_element(By.NAME, 'EvalYear'))
        select_year.select_by_index(1)
    
    select_univ = Select(driver.find_element(By.NAME, 'EvalUniv'))
    select_univ.select_by_index(_)
    time.sleep(0.5)
    # 전체 색택
    if _ == 0 :
        driver.find_element(By.CLASS_NAME, 'multiselect-dropdown-arrow').click()
    #     time.sleep(0.5)
        driver.find_element(By.CLASS_NAME, 'multiselect-checkbox').click()
    #     time.sleep(0.5)
    
    select_search = driver.find_element(By.CLASS_NAME, 'btn_search')
    select_search.click()
    
    time.sleep(0.5)
    df = crolling(df)

In [108]:
df.columns = col
df

         대학명                           구분   2019   2020   2021 최근2년평균 최근3년평균
0   가톨릭상지대학교             1.2.2 교육비 환원율(%)  189.4  173.1  161.4  167.3  174.6
1   가톨릭상지대학교       2.2.1 학생 1인당 실험실습비(천원)  176.2  156.1  168.9  162.5  167.1
2   가톨릭상지대학교             3.1.1 신입생 충원율(%)   94.4   91.0   82.6   86.8   89.3
3   가톨릭상지대학교           3.1.3 재학생 등록유지율(%)   91.6   89.3   87.2   88.3   89.4
4   가톨릭상지대학교  4.1.2 건강보험 및 국세DB 연계 취업률(%)   79.3   78.1   80.3   79.2   79.2
..       ...                          ...    ...    ...    ...    ...    ...
7      호산대학교               5.2.2 교사확보율(%)  183.7  174.8  174.4  174.6  177.6
8      호산대학교            6.1.1 전임교원 확보율(%)   67.4   63.7   66.7   65.2   65.9
9      호산대학교       6.1.3 전임교원 1인당 연구실적(건)    0.1    0.1    0.1    0.1    0.1
10     호산대학교    6.2.1 등록금 대비 교원 인건비 비율(%)   30.8   38.4   36.6   37.5   35.3
11     호산대학교    6.2.1 등록금 대비 직원 인건비 비율(%)   10.3   16.2   17.5   16.9   14.7

[1596 rows x 7 columns]

In [110]:
df.to_csv('~/Desktop/대학교.csv', index = None, encoding='utf-8-sig')

In [45]:
# 대학명 출력
univ = driver.find_element(By.ID, 'm_title3').text[1:-1]
univ

'가톨릭상지대학교'

In [59]:
col = ['대학명','구분','2019','2020','2021','최근2년평균','최근3년평균']

In [47]:
tbody = driver.find_element(By.ID, 'listView3')
tr = tbody.find_elements(By.TAG_NAME, 'tr')

In [55]:

val = []
for i in tr :
    td = i.find_elements(By.TAG_NAME, 'td')
    temp = []
    temp.append(univ)
    for j in td :
        temp.append(j.text)
        
    val.append(temp)
df = pd.DataFrame(val)

In [60]:
df.columns = col

In [61]:
df

         대학명                           구분   2019   2020   2021 최근2년평균 최근3년평균
0   가톨릭상지대학교             1.2.2 교육비 환원율(%)  189.4  173.1  161.4  167.3  174.6
1   가톨릭상지대학교       2.2.1 학생 1인당 실험실습비(천원)  176.2  156.1  168.9  162.5  167.1
2   가톨릭상지대학교             3.1.1 신입생 충원율(%)   94.4   91.0   82.6   86.8   89.3
3   가톨릭상지대학교           3.1.3 재학생 등록유지율(%)   91.6   89.3   87.2   88.3   89.4
4   가톨릭상지대학교  4.1.2 건강보험 및 국세DB 연계 취업률(%)   79.3   78.1   80.3   79.2   79.2
5   가톨릭상지대학교           5.1.1 장학금 지급 비율(%)   21.6   20.9   18.0   19.5   20.2
6   가톨릭상지대학교       5.2.1 학생 1인당 자료구입비(천원)   33.8   33.7   34.1   33.9   33.9
7   가톨릭상지대학교               5.2.2 교사확보율(%)  196.3  192.7  191.7  192.2  193.6
8   가톨릭상지대학교            6.1.1 전임교원 확보율(%)   60.7   59.8   62.5   61.2   61.0
9   가톨릭상지대학교       6.1.3 전임교원 1인당 연구실적(건)    0.3    0.4    0.9    0.7    0.5
10  가톨릭상지대학교    6.2.1 등록금 대비 교원 인건비 비율(%)   39.7   40.0   39.5   39.8   39.7
11  가톨릭상지대학교    6.2.1 등록금 대비 직원 인건비 비율(%)   20.7   23.1   22.1   22.6   22.0