In [1]:
!pip install folium

Collecting folium
  Downloading folium-0.12.1.post1-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 6.5 MB/s eta 0:00:011
Requirement already satisfied: numpy in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from folium) (1.19.2)
Collecting branca>=0.3.0
  Downloading branca-0.5.0-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from folium) (2.24.0)
Requirement already satisfied: jinja2>=2.9 in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from folium) (2.11.2)
Requirement already satisfied: idna<3,>=2.5 in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/kimhyunjo/opt/anaconda3/lib/python3.8/site-packages (from jinja2>=2.9->folium) (1.1.1)
Installing collected packages: branca, folium
Successfully installed branca-0.5.0 folium-0.12.1.post1

In [2]:
import folium

In [3]:
seoul_map = folium.Map(location = [37.55, 126.98], zoom_start = 12)

seoul_map.save('./dataset/seoul.html')

In [4]:
seoul_map2 = folium.Map(location = [37.55, 126.98], zoom_start = 12, tiles = 'Stamen Terrain')
seoul_map3 = folium.Map(location = [37.55, 126.98], zoom_start = 12, tiles = 'Stamen toner')

seoul_map2.save('./dataset/seoul_map2.html')
seoul_map3.save('./dataset/seoul_map3.html')

In [6]:
# 서울 지역 대학교 위치를 지도에 마커로 표시하기
import pandas as pd

df = pd.read_excel('./dataset/서울지역 대학교 위치.xlsx')

seoul_map = folium.Map(location = [37.55, 126.98], zoom_start = 12, tiles = 'Stamen Terrain')

In [11]:
df.rename(columns = {'Unnamed: 0' : 'name'}, inplace = True)
df.head()

           name         위도          경도
0  KAIST 서울캠퍼스   37.592573  127.046737
1         KC대학교  37.548345  126.854797
2  가톨릭대학교(성신교정)  37.585922  127.004328
3  가톨릭대학교(성의교정)  37.499623  127.006065
4      감리교신학대학교  37.567645  126.961610

In [14]:
df.set_index('name', inplace = True)
df.head()

                     위도          경도
name
KAIST 서울캠퍼스   37.592573  127.046737
KC대학교         37.548345  126.854797
가톨릭대학교(성신교정)  37.585922  127.004328
가톨릭대학교(성의교정)  37.499623  127.006065
감리교신학대학교      37.567645  126.961610

# ✪✪✪✪✪

In [15]:
# seoul_map 에 마커를 추가
for name , lat, lng in zip(df.index , df.위도 , df.경도):
    folium.Marker([lat, lng], popup = name).add_to(seoul_map)
    
seoul_map.save('./dataset/seoul_colleges.html')

In [18]:
# seoul_map 에 circle 마커를 추가
seoul_map = folium.Map(location = [37.55, 126.98], zoom_start = 12, tiles = 'Stamen Terrain')
for name , lat, lng in zip(df.index , df.위도 , df.경도):
    folium.CircleMarker([lat, lng], 
                  radius = 10, # 원의 반지름
                  color = 'red', # 원의 둘레 색깔
                  fill = True,
                  fill_color = 'pink' , # 원을 채우는 색
                  fill_opacity = 0.5, # 투명도
                  popup = name).add_to(seoul_map)
    
seoul_map.save('./dataset/seoul_colleges_1.html')