In [19]:
import pandas as pd

# 웹에서 테이블 자료 가져오기
url = './dataset/sample.html'

tables = pd.read_html(url)
print(len(tables))

# table 을 하나씩 가져 옴
for i in range(len(tables)):
    print(tables[i], type(tables[i]))
    
# 두번째 나오는 테이블을 df 에 저장한 후 처리
df = tables[1].copy()
print(df)

2
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9 <class 'pandas.core.frame.DataFrame'>
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True <class 'pandas.core.frame.DataFrame'>
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [20]:
# name 컬럼을 index 로 지정
df.set_index('name', inplace = True)
df

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

# ✪✪✪✪✪

In [26]:
# tables 의 처음 나오는 테이블을 가져와서 인덱스는 'a' 부터 순차적으로 지정
# 처음에 나오는 컬럼의 값을 제거
df1 = tables[0].copy()
df1.columns
df1.drop(df1.columns[0] , axis = 1 , inplace = True)
df1.index = [ chr(ord('a') + i) for i in range(len(df1))]
df1

   c0  c1  c2  c3
a   0   1   4   7
b   1   2   5   8
c   2   3   6   9

In [29]:
# 여러 개의 데이터프레임을 하나의 액셀 파일에 저장
data1 = {'name' : [ 'Jerry', 'Riah', 'Paul'],
         'algol' : [ "A", "A+", "B"],
         'basic' : [ "C", "B", "B+"],
          'c++' : [ "B+", "C", "C+"]}

data2 = {'c0':[1,2,3], 
         'c1':[4,5,6], 
         'c2':[7,8,9], 
         'c3':[10,11,12], 
         'c4':[13,14,15]}

df1 = pd.DataFrame(data1) # 인덱스를 name 컬럼으로
df2 = pd.DataFrame(data2) # c0 를 인덱스 컬럼으로
df1.set_index('name', inplace = True)
df2.set_index('c0', inplace = True)
df1

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

# ✪✪✪✪✪

In [31]:
# excel로 저장할 파일명을 df_excel.xlsx
writer = pd.ExcelWriter('./dataset/df_excel.xlsx')
df1.to_excel(writer , sheet_name = 'sheet1')
df2.to_excel(writer , sheet_name = 'sheet2')
writer.save()